body {
    background-color: dodgerblue;
    font-family: Arial;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    max-width: 300px;
    margin: 20px auto;
}

li {
    min-height: 20px;
    text-align: left;
    background-color: white;;
    color: darkslategray;
    padding: 5px;
    margin-bottom: 5px;
}

li button {
    float: right;
    margin: 0px 3px;
}
